@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
html {
  /* height: 100%; */
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: "Roboto", sans-serif;
  /* position: relative; */
  /* height: 100vh; */
  height: 100%;
}

.adjustScroll {
  overflow: hidden;
  height: 100%;
  /* padding-top: 80px; */
}
p {
  font-family: "Didact Gothic", sans-serif;
}

.navbar {
  /* background-image: url("./images/White-bg.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  border-radius: 3px;
  z-index: 1000;
}

.nav-wrapper {
  max-height: 500px;
  /* box-shadow: 0 1px 2px -2px rgb(0 0 0); */
}
.navbar-sm {
  position: absolute;
  top: -1000px;
  width: 100%;
  height: 50vh;
  right: 0;
  transition: 5s;
}
.Shownavbar-sm {
  top: 13px;
  transition: 5s;
}
.round-6 {
  /* background-color: #48abe0; */
  /* color: white; */
  border: none;
  padding: 5px;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 31px;
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 4px grey;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 70%;
}
.logo {
  /* position: relative; */
  /* width: 150px; */
  /* height: 70px; */
  /* background-color: red; */
}
.logo .best {
  /* position: absolute; */
  white-space: nowrap;
  bottom: -14px;
  left: 0;
}
@media (max-width: 430px) {
  .logo {
    /* position: relative; */
    /* width: 30px;
    height: 30px; */
  }
  .logo .logoText {
    font-size: 18px;
  }
  .logo .best {
    /* position: absolute; */
    /* white-space: nowrap; */
    /* bottom: -14px; */
    /* left: 40px; */
    font-size: 13px;
  }
}
.logoMage {
  animation: swing 5s infinite;
}
@-webkit-keyframes swing {
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform-origin: top center;
  }
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
@media (max-width: 1280px) {
  .links {
    height: 100%;
    position: absolute;
    /* margin-top: 20px !important; */
    /* top: -300px; */
    transition: 0.5s ease-out;
  }
  .links .menu {
    margin-top: 70px;
    transition: 0.5s ease-out;
    z-index: -5;
  }
  .links .menuTog {
    margin-top: 0px;
    transition: 0.5s ease-out;
    z-index: 5;
  }
  .showLinks {
    top: 0;
  }
  .menu-cont {
    width: 100%;
  }
  .nav-wrapper {
    height: 400px;
    transition: 0.5s;
  }
  .hide-nav {
    position: relative;
    overflow: hidden;
    max-height: 72px;
  }

  .arrow-down {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s;
  }

  .arrowRot {
    transform: rotate(360deg) !important;
    transition: 0.5s;
  }
  .arrow_rot {
    transform: rotate(180deg) !important;
    transition: 0.5s;
  }
}
@media (min-width: 1280px) {
  .menu li {
    display: inline;
  }
}
.active {
  position: absolute;
  top: -3px;
  right: 0;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  opacity: 0.75;

  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}
/* .active-line:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 2px;
  width: 140%;
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
} */

.btn-5 {
  /* width: 110px; */
  height: 30px;
  /* line-height: 42px; */
  padding: 0;
  border: none;
  /* background: rgb(255, 27, 0); */
  /* background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  ); */
}
.btn-5:hover {
  /* color: #f0094a; */
  background: transparent;
  box-shadow: none;
}
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btn-12 {
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 20px; */
  border: none;
  box-shadow: none;
  width: 130px;
  height: 72px;
  /* line-height: 42px; */
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* right: 0; */
  /* top: 0px; */
  top: 22%;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.scroll {
  overflow-x: hidden;
}

.scroll-text {
  /* overflow-x: scroll; */
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 25s linear infinite;
  -webkit-animation: my-animation 25s linear infinite;
  animation: my-animation 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* HOMEPage */
.homePage {
  /* background-color: #024bac; */
  width: 100%;
  /* height: 550px; */
  background-image: url("./images/White-bg.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* height: 75vh !important; */
}
@media (max-width: 1024px) {
}
@media (max-width: 463px) {
  .homePage {
    background-image: none;
  }
}

.tradeBtn span {
  width: 120%;
  font-size: 14px;
}

.bitCards {
  height: 33rem;
  object-fit: contain;
  animation: mymove 5s infinite;
}
.textWrapper h1 {
  font-family: Lexend;
  line-height: 60px;
}
@media (max-width: 1280px) {
  .bitCards {
    height: 26rem;
  }
}
@media (max-width: 1112px) {
  .bitCards {
    height: 22rem;
  }
}
@media (max-width: 1024px) {
  .bitcardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textWrapper h1 {
    font-size: 40px;
  }
}
@media (max-width: 512px) {
  .QRcode {
    display: none;
  }

  .textWrapper {
    width: 100%;
  }
  .textWrapper h1 {
    text-align: center;
  }
  .textWrapper p {
    text-align: center;
  }
}

@media (max-width: 350px) {
  .whatsAppBtn {
    flex-direction: column;
  }
  .tradeBtn2 {
    margin-left: 0;
  }
}
@media (max-width: 370px) {
  /* .tradeBtn2 span {
    top: 0px;
  } */
}
@keyframes mymove {
  50% {
    transform: translateY(100deg);
  }
}
.tradeBtn2 span {
  background: rgb(204, 222, 230);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(127, 154, 182) 100%);
  /* position: absolute;
  left: 200px; */
}

/* #drift-frame-controller {
  z-index: 2;
} */

.btc1 {
  position: absolute;
  top: 42px;
  left: 50%;
  transform: rotate(-60deg);
  opacity: 1;
  z-index: -7;
}
.btc2 {
  position: absolute;
  bottom: 50%;
  left: 90%;
  transform: rotate(-25deg);
  opacity: 1;
  z-index: -7;
}
.btc3 {
  position: absolute;
  bottom: 45%;
  left: 0%;
  transform: rotate(-60deg);
  opacity: 1;
  z-index: -7;
  /* animation: shake 1s infinite linear;
  -moz-animation: shake 1s infinite linear;
  -webkit-animation: shake 1s infinite linear;
  -o-animation: shake 1s infinite linear; */
}
/**
		 **		Shake Annimation Starts Here.
		 **/
@media (max-width: 463px) {
  #homePage .btc {
    display: none;
  }
}

.btc {
  font-size: 25px;
}

@keyframes shake {
  /* 0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  } */
  100% {
    transform: scale(1.5);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(3px, 0);
  }
  50% {
    -moz-transform: translate(-3px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0);
  }
  50% {
    -webkit-transform: translate(-3px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-ms-keyframes shake {
  0% {
    -ms-transform: translate(3px, 0);
  }
  50% {
    -ms-transform: translate(-3px, 0);
  }
  100% {
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes shake {
  0% {
    -o-transform: translate(3px, 0);
  }
  50% {
    -o-transform: translate(-3px, 0);
  }
  100% {
    -o-transform: translate(0, 0);
  }
}

/**
		 **		Shake Annimation Ends Here.
		 **/

/**
		 **		Page Styles Start Here.
		 **/

/**
		 **		And End Here.
		 **/

/* Cards */
.swiper-slide {
  /* transform: scale(1) !important; */
  transition: transform 0.3s ease;
}

.swiper-slide-active {
  /* transform: scale(1.1) !important; */

  /* height: 200px !important; */
}
.swiper-slide-next .giftCards {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  /* transform: scaleY(1.1);
  object-fit: contain !important;
  border-radius: 1rem !important; */
  /* transform: scale(1.1) !important; */

  /* border-bottom: 8px !important; */

  /* height: 200px !important; */
}
.cardWrapper {
  /* box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.11); */
}
.giftCards {
  /* transform: scaleY(1);
  transition: transform 0.3s ease; */
  /* box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.2); */

  z-index: 100000;

  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11); */

  /* box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3); */
  /* backdrop-filter: blur(30px);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12); */
}

/* MY BITCARDS */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");

.gift-cards {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 100vh;
  z-index: -3;
  /* background-color: aqua; */
}
@media (max-width: 1024px) {
  .gift-cards {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}

.card-body {
  z-index: 1;
  /* white-space: nowrap; */
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 1px 16px 6px rgba(0, 0, 0, 0.4);
  transform: perspective(5000px) rotateX(65deg);
}
@media (max-width: 1024px) {
  .card-body {
    height: 100% !important;
  }
}
@media (max-width: 463px) {
  .card-body {
    width: 100% !important;
  }
}
.amazon {
  background: #000;
  border: 1px solid #000;
  top: 0;
  opacity: 1;
  animation-name: moveAmazon;
  animation-duration: 3s; /* or: Xms */
  animation-iteration-count: infinite;
  animation-direction: alternate;

  /* animation-timing-function: ease-out; */
  /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  /* animation-fill-mode: forwards; */
  /* or: backwards, both, none */
  animation-delay: 0.5s; /* or: Xms */
}
@media (max-width: 1024px) {
  .amazon {
    top: -100px;
  }
  @keyframes moveAmazon {
    0% {
      top: 20px;
      opacity: 1;
    }
    25% {
      top: -10px;
      opacity: 1;
    }
    50% {
      top: -40px;
      opacity: 1;
    }
    75% {
      top: -70px;
      opacity: 1;
    }

    100% {
      top: -100px;
    }
  }
}
@media (min-width: 1024px) {
  @keyframes moveAmazon {
    0% {
      top: 120px;
      opacity: 1;
    }
    25% {
      top: 90px;
      opacity: 1;
    }
    50% {
      top: 60px;
      opacity: 1;
    }
    75% {
      top: 30px;
      opacity: 1;
    }

    100% {
      top: 0;
    }
  }
}
/* .animate-this-element {
  animation: name-of-animation 5s infinite;
} */

.line-1 {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
}
.amazon-text {
  margin-left: 20px;
  margin-bottom: 30px;
}
.giftCon {
  position: absolute;
  top: 150px;
}
.line-1 h2 {
  position: absolute;
  top: 110px;
  font-family: "Noto Serif", serif;
  font-size: 30px;

  color: #fff;
}

.line-1 h4 {
  color: orange;
  font-size: 22px;
  /* margin: -3px 100px; */
  font-family: "Noto Serif", serif;
}

.giftCon i {
  color: orange;
  font-size: 50px;
  /* margin: -40px 10px; */
}

.char {
  position: absolute;

  top: 30%;
  right: 0;
  /* float: right; */
  color: #fff;
  /* display: block;
  display: flex; */
  font-size: 240px;
  overflow: hidden;
  margin: -120px 10px;
}
@media (max-width: 463px) {
  .card-body {
    width: 100%;
    height: 300px;
  }
  .char {
    font-size: 170px;
    top: 50%;
  }
  .line-1 h2 {
    font-size: 24px;
  }
  .giftCon i {
    font-size: 30px;
    /* margin: -40px 10px; */
  }
}
@media (max-width: 360px) {
  .char {
    font-size: 150px;
    top: 50%;
  }
  .line-1 h2 {
    font-size: 18px;
  }
  .giftCon i {
    font-size: 20px;
    /* margin: -40px 10px; */
  }
  .line-1 h4 {
    font-size: 15px;
    /* margin: -3px 100px; */
  }
}

.line-2 {
  height: 100%;
  width: 100% !important;
  /* margin: 50px 0px 0px 0px; */
}
.amazon .line-2 {
  /* transform: rotate(-90deg); */
  /* writing-mode: vertical-lr; */
}
.amazon .line-2 i {
  font-size: 27px;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;

  transform: rotate(-90deg);
}

.num {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "Noto Serif";
}

.itunes {
  /* display: none; */
  z-index: -1;
  /* position: relative; */

  border: 1px solid rgba(0, 172, 238, 1);
  opacity: 1;
  top: 30px;
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  animation-name: moveItunes;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@media (max-width: 1024px) {
  .itunes {
    top: -70px;
  }
  @keyframes moveItunes {
    0% {
      top: 20px;
      opacity: 0;
    }
    25% {
      top: -2.5px;
      opacity: 0;
    }
    50% {
      top: -25px;
      opacity: 0;
    }
    75% {
      top: -47.5px;
      opacity: 0;
    }

    100% {
      top: -70px;
      opacity: 1;
    }
  }
}
@media (min-width: 1024px) {
  @keyframes moveItunes {
    0% {
      top: 120px;
      opacity: 0;
    }
    25% {
      top: 97.5px;
      opacity: 0;
    }
    50% {
      top: 75px;
      opacity: 0;
    }
    75% {
      top: 52.5px;
      opacity: 0;
    }

    100% {
      top: 30px;
      opacity: 1;
    }
  }
}
.itunes .line-2 {
  height: 100%;
}
.itunes .line-2 i {
  font-size: 27px;

  color: #fff;
  position: absolute;
  bottom: 0;
  transform: rotate(-90deg);
  margin-left: 10px;

  margin-bottom: 10px;
}
.itunes p {
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}
.itunes .apple-price {
  color: #fff;
  position: absolute;
  bottom: 0;
  /* margin-top: 90px; */
}

.google {
  z-index: -2;
  /* display: none; */
  /* display: flex; */
  /* position: relative; */
  justify-content: center;
  border: transparent;
  color: #fff;
  font-size: 35px;
  top: 60px;
  background: linear-gradient(
    315deg,
    /* rgba(176, 116, 125, 1) 3%,
    rgba(243, 189, 115, 1) 38%, */
      rgba(48, 238, 226, 1) 68%,
    rgba(45, 119, 181, 1) 98%
  );
  animation-name: moveGoogle;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@media (max-width: 1024px) {
  .google {
    top: -40px;
  }
  @keyframes moveGoogle {
    0% {
      top: 20px;
      opacity: 0;
    }
    25% {
      top: 5px;
      opacity: 0;
    }
    50% {
      top: 10px;
      opacity: 0;
    }
    75% {
      top: -25px;
      opacity: 1;
    }
    100% {
      top: -40px;
      opacity: 1;
    }
  }
}
@media (min-width: 1024px) {
  @keyframes moveGoogle {
    0% {
      top: 120px;
      opacity: 0;
    }
    25% {
      top: 105px;
      opacity: 0;
    }
    50% {
      top: 90px;
      opacity: 0;
    }
    75% {
      top: 75px;
      opacity: 1;
    }
    100% {
      top: 60px;
      opacity: 1;
    }
  }
}
.googlePlayMage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  /* margin-right: px; */
}
.googleplay {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}
.google-line2 {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100% !important;
  transform: rotate(-90deg);
  margin-top: -10px;
}
@media (max-width: 360px) {
  .googleplay p {
    font-size: 24px;
  }
}
@media (max-width: 463px) {
  .googleplay p {
    font-size: 27px;
  }
}
.ebay {
  z-index: -4;
  /* position: relative; */
  border: 1px solid transparent;
  opacity: 1;
  top: 90px;
  background: #fff;
  animation-name: moveEbay;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@media (max-width: 1024px) {
  .ebay {
    top: -10px;
  }
  @keyframes moveEbay {
    0% {
      top: 20px;
      opacity: 0;
    }

    25% {
      top: 12.5px;
      opacity: 0;
    }
    50% {
      top: 5px;
      opacity: 1;
    }
    75% {
      top: -2.5px;
      opacity: 1;
    }

    100% {
      top: -10px;
      opacity: 1;
    }
  }
}
@media (min-width: 1024px) {
  @keyframes moveEbay {
    0% {
      top: 120px;
      opacity: 0;
    }

    25% {
      top: 112.5px;
      opacity: 0;
    }
    50% {
      top: 105px;
      opacity: 1;
    }
    75% {
      top: 97.5px;
      opacity: 1;
    }

    100% {
      top: 90px;
      opacity: 1;
    }
  }
}
.ebay .line-2 p {
  position: absolute;
  font-size: 20px;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: -10px !important;
  transform: rotate(-90deg);
}

.walmart {
  z-index: -5;
  /* position: relative; */
  border: 1px solid transparent;
  opacity: 1;
  top: 120px;
  background: #024bac;
  /* animation-name: move; */
  /* animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  animation-duration: 4s; */
  animation-fill-mode: forwards;
}
@media (max-width: 1024px) {
  .walmart {
    top: 20px;
  }
}
.walmartLogo {
  height: 50px;
  width: 50px;
}

.walmart-text {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
.marginsTopAndBotton {
  padding-bottom: 80px;
}
/* How we Work */
.workMode {
  /* margin-bottom: 140px; */
  background-image: url("./images/White-bg.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-repeat: no-repeat; */
}
.workMode .cont-Wrapper {
  margin: 70px 15px 0px 15px;
}
.workMode .workCon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
  color: rgb(2, 126, 251);
}

.workModeTwo .cont-Wrapper {
  width: 30%;
}
.workMode h4 {
  font-size: 16px !important;
}
/* ABOUT */
.about {
  background-image: url("./images/White-bg.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.aboutHeader {
  width: 100%;
}

.aboutTextWrapper {
  border: 2px solid black;
  border-radius: 9px;
  margin: 10px;
  width: 95%;
  background: rgba(255, 255, 255, 0.5);
}
.about .header {
  font-weight: 700;
  margin-top: 10px;
  margin-left: 14px;
  font-size: 17px;
}
.about .aboutCons {
  position: absolute;
}
.about .write-up {
  margin-left: 35px;
}

.about .clock {
  /* margin-right: 12px; */
  /* margin-top: 0px; */
  /* position: relative; */
  transform: scale(0.6);
  border-radius: 50%;
  border: 2px solid;
  left: 7px;
  top: 10px;
  width: 50px;
  height: 50px;

  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}

.about .clock:after {
  position: absolute;
  width: 0px;
  height: 20px;
  display: block;
  border-left: 2px solid #000;
  content: "";
  left: 22px;
  top: 4px;
  animation-duration: 1s;
}

.about .clock:before {
  position: absolute;
  width: 0px;
  height: 20px;
  display: block;
  border-left: 2px solid #000;
  content: "";
  left: 22px;
  top: 5px;
  animation-duration: 60s;
}

.about .clock:before,
.clock:after {
  transform-origin: bottom;
  animation-name: dial;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes dial {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* :::::::::::::: Presentation css */

/* :::::::::::::: Required CSS */
/* Locked */
* {
  --locked-color: #5fadbf;
  --unlocked-color: #ff5153;
}
.about .lock {
  margin-right: 12px;
  font-size: 25px;
  margin-top: 5px;
  width: 24px;
  height: 21px;
  border: 3px solid var(--locked-color);
  border-radius: 5px;
  /* position: relative; */
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:after {
  content: "";
  display: block;
  background: var(--locked-color);
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:before {
  content: "";
  display: block;
  width: 17px;
  height: 12px;
  bottom: 100%;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  border: 3px solid var(--locked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* Locked Hover */
.lock:hover:before {
  height: 12px;
}
/* Unlocked */
.unlocked {
  transform: rotate(10deg);
}
.unlocked:before {
  bottom: 130%;
  left: 31%;
  margin-left: -11.5px;
  transform: rotate(-45deg);
}
.unlocked,
.unlocked:before {
  border-color: var(--unlocked-color) !important;
}
.unlocked:after {
  background: var(--unlocked-color) !important;
}
/* Unlocked Hover */
.unlocked:hover {
  transform: rotate(3deg);
}
.unlocked:hover:before {
  height: 10px;
  left: 40%;
  bottom: 124%;
  transform: rotate(-30deg);
}

.about .write-up-wrapper i {
  margin-right: 12px;
  font-size: 25px;
  margin-top: 5px;
}
.about .fa-face-smile {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  width: 15px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 12px;
  font-size: 25px;
  margin-top: 5px;
  animation-name: scaler;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  /* margin-left: 13px !important; */
}
@keyframes scaler {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5, 0.9);
  }
}
.about .fa-circle-info {
  margin-right: 12px;
  font-size: 25px;
  margin-top: 5px;

  animation-name: scaler2;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes scaler2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

/* FAQS */
.faqs {
  height: 100%;
  /* padding-top: 100px; */
  background-image: url("./images/White-bg.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.faqsWriteCont {
  width: 50%;
  /* background-color: #024bac; */
  /* height: 500px; */
}
@media (max-width: 1024px) {
  .faqsWriteCont {
    width: 100%;
  }
}
.faqsTextWrapper {
  border: solid 2px black;
  /* margin: 20px 0; */
  border-radius: 20px;
  max-height: 56px !important;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  transition: max-height 0.5s linear;
}
.faqs-text {
  /* background-color: cyan; */

  /* width: 100%; */
  overflow: hidden;

  position: relative;
}
.addFaqsHeight {
  max-height: 500px !important;
  /* height: calc(100% - 56px) !important; */
  /* border-radius: 25px; */
}
.faqs-text :after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: red; */
}

.faqsWrapper {
  height: 100%;
  margin-top: 90px;

  /* position: relative; */
}
.faqs-textWrapper {
  width: 100%;
}
.faqs-textHeader {
  display: flex;

  width: 100%;
  height: 56px;
  /* background-color: red; */
  align-items: center;
  cursor: pointer;
  position: relative;
}

.faqs-textHeader .fa-angle-down {
  margin-right: 12px;
  transition: 0.5s;
}
.faqs-textHeader .rot-fa-angle-down {
  transform: rotate(180deg);
}

.faqs-textHeader .fa-check-double {
  margin-left: 12px;
}
.faqs-textHeader i {
  /* margin: 13px 0; */

  font-size: 17px;
}
.faqs-textHeader .header {
  width: 80%;
  /* height: 100%; */
  font-weight: 700;
  margin-left: 14px;
  font-size: 17px;
}
.faqs .write-up-wrapper {
  margin: 20px 12px;
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.5s linear;
}
.showWrite-up-wrapper {
  /* max-height: 400px !important; */
}

.faqs .write-up-wrapper i {
  margin-right: 12px;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 10px;
  color: rgba(2, 126, 251);
  animation-name: scaleCon;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 274849 !important;
}

@keyframes scaleCon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.faqs .write-up {
  /* margin-left: 13px !important; */
  width: 80%;
  font-size: 17px;
}
.fa-angle-up {
}
.faqsCards {
  /* z-index: 1; */
  /* position: absolute; */
  font-size: 400px !important;
  border-radius: 20px;
  text-shadow: 15px 10px 10px rgba(0, 0, 0, 1);
  /* box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4); */

  transform: perspective(5000px) rotateY(60deg);
  animation-name: rotation;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  /* animation: rotation 5s infinite; */
}

.faqsCards {
  font-size: 40px !important;
  text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.2);
}
.faqsWrapper {
  margin-top: 30px;
}
.faqsCardsWrapper {
  /* position: absolute; */
  /* top: 1.5px; */
}

.faqsCardsWrapper .fa-apple,
.faqsCardsWrapper .fa-amazon {
  color: #000;
}

.faqsCardsWrapper .fa-ebay {
  background: rgba(0, 172, 238, 1);
  background: linear-gradient(
    90deg,
    rgba(226, 217, 24, 1) 30%,
    rgba(241, 12, 12, 1) 35%,
    rgb(12, 241, 100) 55%,
    rgba(12, 16, 222, 1) 100%
  );

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.faqsCardsWrapper .fa-steam {
  color: rgba(0, 172, 238, 1);
}

@keyframes rotation {
  0% {
    transform: rotateY(60deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* TESTIMONY */
.testimony {
  background-image: url("./images/White-bg.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.testimony-header {
  /* margin-bottom: 100px; */
}
.testimony-content {
  position: relative;
  margin-top: 40px;
}
.testimony .mage {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  border: 3px solid #f4511e;
  object-fit: cover;
  margin-right: 15px;
}
.testimony .text {
  /* border: solid 2px black; */
  height: 200px;
  /* width: 30%; */
  padding: 10px 0px;
  /* overflow-y: scroll; */
  white-space: normal !important;
  /* overflow-y: scroll; */
}
.testimony .fa-quote-right {
  transform: rotate(180deg);
  font-size: 60px;
  opacity: 0.1;
  position: absolute;
  top: -15px;
  left: 0;
}
.testimony .cir {
  border: 2px solid transparent;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  border-radius: 50%;
}
.testimony .activeCir {
  background-color: #f4511e;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* hear */
.testimony .swiper-pagination {
  display: flex;
  /* position: absolute;
  top: 0; */
  /* bottom: 0;
  right: 0; */
}
.testimony .swiper-pagination-bullet {
  height: 12px !important ;

  width: 12px !important;
  border: 2px solid rgba(0, 0, 0, 0.2);
  /* box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.1); */
  margin: 0 5px;
  border-radius: 50%;
}
/* swiper-pagination-bullet  */
.testimony .swiper-pagination-bullet-active {
  background: #f4511e !important;
  border: none;
}
@media (max-width: 1023px) {
  .testimony .swiper-pagination {
    display: flex;
    position: relative;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .nextWrapper {
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
  }
}
/* .testimony-wrapper {
  height: 250px;
  position: relative;
  overflow: hidden;
} */
/*  
.testimony-wrapper > * {
  width: 100%;
  position: absolute;
  top: 0;
  right: 150%;

  animation: 30s autoplay2 infinite ease-in-out;
} */
/* @keyframes autoplay2 {
  0% {
    right: 150%;
  }
  4% {
    right: 0%;
  }
  33.33% {
    right: 0%;
  }
  37.33% {
    right: -2000px;
  }
  100% {
    right: -2000px;
  }
}
.testimony-wrapper > *:nth-child(1) {
  animation-delay: 0s;
}
.testimony-wrapper > *:nth-child(2) {
  animation-delay: 10s;
}
.testimony-wrapper > *:nth-child(3) {
  animation-delay: 20s;
} */
.slideContainer {
  overflow: hidden;
  /* background-color: white; */
  /* border: 2px solid black; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border-radius: 5px; */
}
.testimony-wrapper {
  white-space: nowrap;
  transition: ease 0.5s;
}

.main-wrapper {
  display: inline-block;
  transition: ease 5s;

  /* position: absolute; */
  /* top: 0;
  right: 100%; */
  /* transform: translateX(-100%); */
  /* transition: 5s; */
}
.autoplay {
  /* animation: 30s autoplay2 ease-in-out; */
  /* /* right: -100%; */
  /* transform: translateX(-0); */
}

@keyframes autoplay2 {
  0% {
    right: 100%;
  }
  4% {
    right: 0%;
  }
  33.33% {
    right: 0%;
  }
  37.33% {
    right: -100%;
  }
  100% {
    right: -100%;
  }
}

.testimony .fa-angles-left {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  animation: bounceLeft 1s infinite;
}
.testimony .fa-angles-right {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  animation: bounceRight 1s infinite;
}
@keyframes bounceRight {
  0%,
  100% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounceLeft {
  0%,
  100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* VIDEo */

.video {
  z-index: 2;
  height: 100% !important;
  width: 100%;
  position: absolute;
}

.video-wrapper {
  display: table;
  width: 100%;
  height: 232.017px;
  /* height: 300px; */
  position: relative;
}
.cover {
  position: absolute;
  z-index: 7;
  width: 40%;
  height: 40%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.playpause {
  /* position: absolute; */
}
.fa-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f4511e;
  color: #fff;
  border-radius: 50%;
  padding: 30px 32px 30px 32px;
  cursor: pointer;
  z-index: 26;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d9dbe1;
  cursor: pointer;
}
/* CONTACT */
.contact {
  background-image: url("./images/White-bg.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.contactWrapper {
  padding: 40px 0px !important;
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  border-radius: 20px;
}
/* FOOTER */
.footer {
  /* background: red; */
  background-image: url("./images/White-bg.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.footer-text {
  width: 80%;
}
.footer .footer-links {
  margin-left: auto;
}
.contactCont {
  width: 50%;
}
@media (max-width: 1024px) {
  .contactCont {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .footer p {
    font-size: 12px;
  }
}
.instaWrapper,
.fbWrapper,
.twitWrapper {
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(
    0deg,
    rgba(74, 64, 152, 1) 10%,
    rgba(152, 47, 90, 1) 90%
  );
}
.fa-instagram,
.fa-twitter,
.fa-facebook-f {
  /* padding: 10px; */
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fbWrapper {
  background: rgb(44, 75, 114);
}
.twitWrapper {
  background: rgb(63, 133, 175);
}

.fa-facebook-f:hover {
  animation: rotate-btn 0.5s linear 3;
  -webkit-animation: rotate-btn 0.5s linear 3;
}
.fa-instagram:hover {
  animation: rotate-btn 0.5s linear 3;
  -webkit-animation: rotate-btn 0.5s linear 3;
}
.fa-twitter:hover {
  animation: rotate-btn 0.5s linear 3;
  -webkit-animation: rotate-btn 0.5s linear 3;
}
@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.line {
  width: 80%;
  height: 2px;
  background: #000;
}
/* Chat Con */
.chat {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 3;
}
.chat .chatCon,
.mailCon,
.whatsappCon {
  padding: 20px;
  height: 45px;
  width: 45px;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  cursor: pointer;
}
.mailCon {
  transition: 0.3s linear;
  position: absolute;
  bottom: 0;
  z-index: -3;
  /* position: relative; */
}
.showmailChatCons {
  bottom: 120px;
}
.mailCon:after {
  content: "Email Us";
  position: absolute;
  top: 0;
  left: -80px;
  padding: 0 10px;
  font-size: 15px;
  background-color: #024bac;
  white-space: nowrap;
  border-radius: 4px;
  display: none;
  z-index: 70;

  border-bottom-right-radius: 16px;
}
.mailCon:hover:after {
  display: flex;
}
.whatsappCon {
  position: absolute;
  bottom: 0;
  z-index: -2;
  transition: 0.1s linear;
}
.showWhatsappChatCons {
  bottom: 60px;
}
.whatsappCon:after {
  content: "Chat with us on whatsapp";
  position: absolute;
  top: 0;
  left: -200px;
  padding: 0 10px;
  font-size: 15px;
  background-color: #024bac;
  white-space: nowrap;
  border-radius: 4px;
  border-bottom-right-radius: 16px;
  display: none;
  z-index: 60;
  transition: s linear;
}
.whatsappCon:hover:after {
  display: flex;
}
.showChatCons {
  opacity: 1;
}

p {
  /* font-weight: 350; */
  font-weight: 600 !important;
  letter-spacing: 1px;
  /* color: white;
  font-size: 20px; */
  /* text-shadow: 0.02em 0 rgb(115 115 115), 0 0.02em rgb(115 115 115),
    -0.02em 0 rgb(115 115 115), 0 -0.02em rgb(115 115 115); */
}
@media (max-width: 640px) {
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 16px !important;
  }
}
